.tabs {
    width: 100%;
    overflow: auto
}
.tabs li.tab {
    float: none;
    display: inline;
}
.tabs input[type="radio"] {
    display: none;
}
.tabs .tab>label {
    padding: 8px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ddd;
    cursor: pointer;
    top: 0;
    z-index: 3;
    background-color: #eee;
}
.tabs .tab-content {
    z-index: 2;
    display: none;
    float: left;
    padding: 1em;
    left: 0;
    border: 1px solid #ddd;
    margin-top: 8px;
}
.tabs [id^="tab"]:checked + label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}
